@mixin make_scene($fov, $visible) {
    .scene {
        perspective: none;
        transform-style: flat;
        backface-visibility: $bv;

        &_3d {
            perspective: $fov;
            perspective-origin: center;
            transform-style: preserve-3d;
            backface-visibility: $visible;
            transform: translateZ(0); // fix for Chrome}
        }

    }

}