
@mixin make-round-button($width, $height, $color: black) {
    & {
        width: $width;
        height: $height;
        border-radius: 100%;
        background-color: black;
        outline: calc($width/4) solid $color;
        z-index: -1;
    }

}


@mixin make-directional-button($width, $height, $color: black) {
    & {
        @include make-square($width, $height);
        z-index: -1;

        &:after {
            display: block;
            content: " ";
            float: right;
            @include make-triangle($width / 2, 100px, $color);
        }
    }


}