@mixin make-round-button($width, $height, $color: black) {
    & {
        width: $width;
        height: $height;
        border-radius: 100%;
        background-color: black;
        outline: calc($width/3.5) solid $color;
        z-index: 1;
    }

}

