 %vertical-centered {
     margin: 0 auto;
     left: 0;
     right: 0;
 }

 %horizontal-centered {
     margin: auto 0;
     top: 0;
     bottom: 0;
 }

 %centered {
     position: relative;
     margin: auto;
     @extend %vertical-centered;
     @extend %horizontal-centered;
 }


 %bordered-top {
     border-top: 50%;
     border-bottom: 50%;
 }

 %bordered-bottom {
     border-top: 50%;
     border-bottom: 50%;
 }

 %bordered {
     @extend %bordered-top;
     @extend %bordered-bottom;

 }

 @mixin make-square($width, $height, $color: pink) {
     & {
         @extend %centered;
         width: $width;
         height: $height;
         border: 14px solid $color;
         z-index: 1;
         border-radius: 0;
         background: black !important;

     }
 }

 @mixin make-circle($width, $height, $color: orangered) {
     & {
         @extend %centered;
         border-radius: 100%;
         width: $width;
         height: $height;
         border: 14px solid $color;
         z-index: 1;
     }

 }

 @mixin make-cross($height, $color: lightblue) {
     & {

         display: flex;
         justify-content: center;
         align-items: center;
         @extend %centered;
         z-index: 2;

         &:before {
             content: " ";
             background-color: $color;
             transform: rotate(45deg);
             width: 10px;
             height: $height+8px;
             @extend %centered;
         }

         &:after {
             position: absolute;
             content: " ";
             background-color: $color;
             transform: rotate(-45deg);
             width: 10px;
             @extend %centered;
             height: $height+8px;
         }
     }
 }

 