 %vertical-centered {
     margin: 0 auto;
     left: 0;
     right: 0;
 }

 %horizontal-centered {
     margin: auto 0;
     top: 0;
     bottom: 0;
 }

 %centered {
     position: relative;
     margin: auto;
     @extend %vertical-centered;
     @extend %horizontal-centered;
 }


 %bordered-top {
     border-top: 50%;
     border-bottom: 50%;
 }

 %bordered-bottom {

     border-top: 50%;
     border-bottom: 50%;

 }


 @mixin make-square($width, $height, $color: orange) {
     & {
         width: $width;
         height: $height;
         border: 14px solid $color;
         z-index: 1;
         border-radius: 0px;

     }
 }

 @mixin make-circle($width, $height, $color: red) {
     & {
         border-radius: 100%;
         width: $width;
         height: $height;
         border: 14px solid $color;
         z-index: 1;
     }

 }

 @mixin make-cross($height, $color: blue) {
     & {
         display: flex;
         justify-content: center;
         align-items: center;

         &:before {
             display: inline-block;
             content: " ";
             transform: rotate(45deg);
             background-color: $color;
             width: 14px;
             height: $height;
             z-index: 1;
         }

         &:after {
             display: inline-block;
             content: " ";
             transform: rotate(-45deg);
             background-color: $color;
             width: 14px;
             z-index: 1;
             height: $height;

         }
     }
 }

 @mixin make-triangle($width, $height, $color: green) {
     & {
         width: $width;
         height: $height;
         border-left: $width solid transparent;
         border-right: $width solid transparent;
         border-bottom: $width solid $color;
         z-index: 1; // <--abstract this to a variable in the future
     }
 }