@import "../patterns/_settings.scss";
$btn-size: 100px;

.btn {
    width: $btn-size;
    height: $btn-size;
    @include make-round-button($btn-size, $btn-size);

    &__square {
        @include make-square($btn-size, $btn-size);
    }

    &__circle {
        @include make-circle($btn-size, $btn-size); 
    }

    &__cross {
        @include make-cross(calc($btn-size / 2));
    }

    &__triangle {
        @include make-triangle();
    }
}