@import "../patterns/_settings.scss";
$btn-size: 100px;

.btn {
    width: $btn-size;
    height: $btn-size;
    @include make-round-button($btn-size, $btn-size);

    &__square {
        @include make-square($btn-size, $btn-size);
    }

    &__circle {
        @include make-circle($btn-size, $btn-size);
    }

    &__cross {
        @include make-cross(calc($btn-size/2));
    }

    &__triangle {
        @include make-triangle($width: $btn-size);
    }
}

.btn_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;

    height: 500px;
    width: 500px;

    // align
    .btn__triangle {
        grid-column: 1/3;
        grid-row: 1/ 2;

    }

    .btn__square {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .btn__circle {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .btn__cross {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}