@import "../patterns/_settings.scss";
$btn-size: 100px;

.btn {
    width: $btn-size;
    height: $btn-size;
    outline: $btn-size/4 solid;
    @include make-round-button($btn-size, $btn-size, black);

  
}
